body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-46px;
  width:718px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1890FF;
  line-height:22px;
}
#u11205 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:8px;
  width:73px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1890FF;
  line-height:22px;
}
#u11205 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11205_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11206 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:42px;
  width:718px;
  height:83px;
}
#u11207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u11207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
}
#u11207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u11208 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
}
#u11208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u11209 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
}
#u11209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u11210 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
}
#u11210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
}
#u11211 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:104px;
  height:34px;
  display:flex;
}
#u11211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
}
#u11212 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:0px;
  width:112px;
  height:34px;
  display:flex;
}
#u11212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:34px;
}
#u11213 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:0px;
  width:102px;
  height:34px;
  display:flex;
}
#u11213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u11214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:100px;
  height:49px;
  display:flex;
}
#u11214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u11215 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:34px;
  width:100px;
  height:49px;
  display:flex;
}
#u11215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u11216 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:34px;
  width:100px;
  height:49px;
  display:flex;
}
#u11216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u11217 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:34px;
  width:100px;
  height:49px;
  display:flex;
}
#u11217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:49px;
}
#u11218 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:34px;
  width:104px;
  height:49px;
  display:flex;
}
#u11218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:49px;
}
#u11219 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:34px;
  width:112px;
  height:49px;
  display:flex;
}
#u11219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:49px;
}
#u11220 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:34px;
  width:102px;
  height:49px;
  display:flex;
}
#u11220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1890FF;
  line-height:22px;
}
#u11221 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:8px;
  width:108px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1890FF;
  line-height:22px;
}
#u11221 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11221_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
